---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">For a full list of my publications, please visit <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<h2>Publications</h2>
<ol>
  <li>
    <a href="http://doi.org/10.1111/jfir.70011" target="_blank">Li, F., Liang, C., & Tang, Z. (2025). CEO Social Media Activity and Insider Trading. Journal of Financial Research, forthcoming.</a>
    <br><a href="/files/paper1.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="http://doi.org/10.1111/jbfa.12870" target="_blank">Cai, G., Li, X., Luo, D., & Tang, Z. (2025). GDP Manipulation, Cost of Equity, and Firm Performance. Journal of Business Finance & Accounting, 52(4), 1868-1889.</a>
    <br><a href="/files/paper2.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.1016/j.frl.2025.107887" target="_blank">Fang, F., Meng, C., Tang, Z., & Veeren, P. (2025). Insider Risk Aversion and Trade Informativeness: Evidence from Pre-Option-Grant Selling. Finance Research Letters, 85, 107887.</a>
    <br><a href="/files/paper3.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.2308/ISYS-2023-065" target="_blank">Hsieh, T., Tang, Z., Wang, Z., & Yoon, K. (2025). Audit Quality Under Remote Working Arrangement: The Role of Technology Competency. Journal of Information Systems, 39(2), 21-40.</a>
    <br><a href="/files/paper4.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.1007/s10551-024-05650-x" target="_blank">Le Breton-Miller, I., Miller, D., Tang, Z., & Xu, X. (2024). CEO Religion and Corporate Social Responsibility: A Socio-behavioral Model. Journal of Business Ethics, 195, 167-189.</a>
    <br><a href="/files/paper5.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.1080/00036846.2024.2407555" target="_blank">Fang, F., Tang, Z., & Veeren, P. (2024). Why do insiders sell stocks after receiving options? Applied Economics, forthcoming.</a>
    <br><a href="/files/paper6.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.1016/j.econmod.2024.106764" target="_blank">Liu, J., Liu, J., Tang, Z., & Xu, Y. (2024). Provincial economic growth and excess investment: Evidence from China. Economic Modelling, 137, 106764.</a>
    <br><a href="/files/paper7.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.1108/ARA-09-2023-0241" target="_blank">Li, W., Tang, Z., & Chen, C. (2024). Do corporate site visits by analysts and institutional investors increase labor investment efficiency? Asian Review of Accounting, 32(5), 811-840.</a>
    <br><a href="/files/paper8.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.1007/s10551-021-04858-5" target="_blank">Miller, D., Tang, Z., Xu, X., & Le Breton-Miller, I. (2022). Are socially responsible firms associated with socially responsible citizens? A study of social distancing during the Covid-19 pandemic. Journal of Business Ethics, 179(2), 387-410.</a>
    <br><a href="/files/paper9.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.1016/j.jcorpfin.2020.101803" target="_blank">Dang, C., Foerster, S., Li, Z. F., & Tang, Z. (2021). Analyst talent, information, and insider trading. Journal of Corporate Finance, 67, 101803.</a>
    <br><a href="/files/paper10.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.1016/j.intfin.2020.101262" target="_blank">Maung, M., Tang, Z., Wilson, C., & Xu, X. (2021). Religion, risk aversion, and cross border mergers and acquisitions. Journal of International Financial Markets, Institutions and Money, 70, 101262.</a>
    <br><a href="/files/paper11.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.1111/fire.12233" target="_blank">Maung, M., Tang, Z., & Xu, X. (2020). Religion and venture investing: A cross‐country analysis. Financial Review, 55(3), 433-460.</a>
    <br><a href="/files/paper12.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.1007/s10551-019-04381-8" target="_blank">Maung, M., Miller, D., Tang, Z., & Xu, X. (2020). Value-enhancing social responsibility: Market reaction to donations by family vs. non-family firms with religious CEOs. Journal of Business Ethics, 163(4), 745-758.</a>
    <br><a href="/files/paper13.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.1007/s10551-018-3971-6" target="_blank">Cai, G., Li, W., & Tang, Z. (2020). Religion and the method of earnings management: Evidence from China. Journal of Business Ethics, 161, 71-90.</a>
    <br><a href="/files/paper14.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.1111/irfi.12246" target="_blank">Liang, C. Y., Tang, Z., & Xu, X. (2020). Return synchronicity and insider trading profitability. International Review of Finance, 20(4), 857-895.</a>
    <br><a href="/files/paper15.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://www.pm-research.com/content/iijpormgmt/early/2019/03/06/jpm20191085" target="_blank">Liang, C. Y., Tang, Z. D., & Xu, X. (2019). Uncertainty, momentum, and profitability. The Journal of Portfolio Management, 45(4), 91-104.</a>
    <br><a href="/files/paper16.pdf" target="_blank">Download pre-print</a>
  </li>
  <li>
    <a href="https://doi.org/10.1016/j.econmod.2017.10.005" target="_blank">Parida, S., & Tang, Z. (2018). Price competition in the mutual fund industry. Economic Modelling, 70, 29-39.</a>
    <br><a href="/files/paper17.pdf" target="_blank">Download pre-print</a>
  </li>
</ol>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



