---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<h2>Courses</h2>
<h4>Clark University</h4>
<h6>Financial Management (FIN 4200), 2014-present, graduate students </h6>
<b>Description:</b> 
This course is an introduction to the basic concepts, principles, and analytical techniques of financial management with a goal to help the student understand financial markets and financial decisions. 
Topics covered in this course include the time-value of money, valuation of corporate securities, valuation of corporate investments, market efficiency, risk and return, capital structure and corporate governance. 
Case studies and group projects will be used to help the student understand financial decisions. 

<h6>Mergers & Acquisitions (FIN 5405), 2022-present, graduate students </h6>
<b>Description:</b> 

<h6>Investment Management (FIN 241), 2024-present, undergraduate students </h6>
<b>Description:</b> 

<h6>Corporate Finance (MGMT 240/FIN 240), 2014-2022, undergraduate students </h6>
<b>Description:</b> This course is an introduction to the basic concepts, principles, and analytical techniques of corporate finance. The goal of the course is to help the student understand financial markets and decisions 
made by financial managers. Topics covered in this course include the time-value of money, valuation of corporate securities, valuation of corporate investments, market efficiency, risk and return, and capital structure. The 
student will also learn how to make simple personal finance decisions. 

<hr>
<h4>University of Alberta</h4>

<h4>Minzu University of China</h4>

<h2>Awards</h2>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
